
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
    background: black;
    overflow-y: scroll
}

html {

    scroll-behavior: smooth;
}

.top-container {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    height: 100vh; /* Adjusted height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.content-container {
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

#main-img {
    width: 600px;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
}

#small-article-container {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    gap: 24px;
    width: calc(3 * (300px + 24px)); /* change the first number (4) to any other number which will fit to scroll. */ /*can change later*/
    overflow-x: hidden;
}

.small-article-img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    flex: none;
}

.small-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    width: 300px;
}

.small-article-date {
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
}

#next-btn {
    font-size: 16px;
    background-color: white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;

    position: relative;
    left: 75vh;
    bottom: 25vh;
}

#back-btn {
    font-size: 16px;
    background-color: white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    display: inline-block;
    width: auto;

    position: relative;
    right: 75vh;
    bottom: 29.5vh;
}
/* landing page */
@font-face {
    font-family: Cocogoose-Regular;
    src: url(Cocogoose\ Pro\ Regular\ Trial.ttf);
}

@font-face {
    font-family: Beckan;
    src: url(Beckan-Personal\ Use.otf);
}


.gmail-icon {
    width: 40px;
    height: auto;
}

.insta-icon {
    width: 40px;
    height: auto;
}

.gm-in {
    position: absolute;
    bottom: 40px;
    left: 65px;
}

.main-icon {
     position: absolute;
    top: 60px;
    left: 330px;
    width: 130px;
    height: auto;
}

.dashtext {
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #51504E;
}

.decor {
    width: 70px;
}

.dash01 {
    position: absolute;
    bottom: 30vh;
    left: 30px;
}

.newissue {
    font-family: "Cocogoose-Regular";
    font-weight: 600;
    font-size: 19px;
    line-height: 50px;
    height: auto;
    position: absolute;
    top: 24%;
    left: -4vh;
    color: black;
    transform: rotate(-90deg)
}

.tw3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    color: black;
    position: absolute;
    bottom: 20vh;
    left: 44.5vh;
}

.tw4 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    color: #464444;
    opacity: 0.5;
    position: absolute;
    bottom: 11vh;
    left: 44.5vh;
}

.divider {
    position: absolute;
    bottom: 19vh;
    left: 44.5vh;
    width: 150px;
}

.Quote1 {
    font-family: "Cocogoose-Regular";
    color: black;
    font-style: lighter;
    font-weight: 100;
    font-size: 27px;
    position: absolute;
    left: 33vh;
    top: 33vh;
    text-align: left;
}

.line2 {
    position: absolute;
    top: 40vh;
    left: 96vh;
    width: 60px;
    z-index: 1;
    opacity: 100%;
}

.arrow1 {
    position: absolute;
    text-align: center;
    bottom: 5vh;
}

.maintext {
    font-family: "Beckan";
}

.girl {
    width: 123vh;
    height: auto;
    position: absolute;
    top: 14.9%;
    right: 15.6%;
    z-index: 1;
}

.maincircle {
    position: absolute;
    top: 19%;
    right: 27%;
    width: 400px;
    height: auto;
    z-index: 0;
}

.maintext {
    position: absolute;
    font-family: "Beckan";
    font-size: 25vh;
    color: #1C1818;
    line-height: 120px;
    right: 2%;
    top: 45%;
    z-index: 2;
}

.officialtext {
    font-family: "Cocogoose";
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    position: absolute;
    bottom: 25vh;
    left: 70%;
}

.line3 {
    position: absolute;
    bottom: 25.8vh;
    left: 64%;
}

.box rect {
    fill: black;
}

.box {
    position: fixed;
    top: 0;
    right: 0;
    width: 5%;
    height: 100vh;
    z-index: -1;
}

.nav {

    position: absolute;
    right: 21px;
    top: 5vh;


}

.bigthread {

    position: absolute;
    right: 47.5%;
    top: 3vh;

}

.number1 {

    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #1C1818;
    font-weight: bold;
    position: absolute;
    left: 51%;
    top: 2.5vh;
}

.desc1 {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: black;

    position: absolute;
    left: 53.5%;
    top: 2.5vh;
}

.number2 {

    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #1C1818 ;
    position: absolute;
    left: 70.2%;
    top: 2.5vh;
}

.small-thread {

    position: absolute;
    right: 62vh;
    top: 3vh;
}

.base-small-thread {

    position: absolute;
    right: 55.5vh;
    top: 14vh;

     z-index: -1;
}

.secondgirl {

    position: absolute;
    right: 6.5%;
    top: 2.8%;
            

    width: 400px;
    height: auto;
    z-index: 1;
}
.seccircle{
    position: absolute;
    top: 11%;
    right: 15%;
    width: 200px;
    height: 180px;
    z-index: 0;
}
.description2 {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: black;

    position: absolute;
    top: 2.5vh;
    left: 73%;
            
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 60%;
    min-width: 250px;
}
.col1{
    flex-basis: 40%;
    min-width: 250px;
}
.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.small-img-row{
    display: flex;
    background-color: white;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}
.small-img{
    position: relative;
}
.small-img img{
    width:180px;
}
.small-img-row p{
    margin-left: 20px;
    color: black;
    line-height: 22px;
    font-size: 15px;
}
.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 30%;
    cursor: pointer;
}
.small-img .play-btn{
    width: 35px;
}
.vidtitle{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.ncontainer {
    width: fit-content;
	max-width: 600px;
	padding: 28px calc(28px + 10px + 16px) 28px 28px;
	border-radius: 10px;
	position: relative;
    margin-top: -60px;
    box-shadow: rgba(255, 255, 255, 0.35) px 5px 15px;
}
.card-wrapper {
	scroll-snap-type: y mandatory;
	overflow-y: auto;
	scrollbar-width: none;
	height: 100%;
	scroll-behavior: smooth;
}
.card {
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
}
.card .head {
	display: flex;
	grid-gap: 20px;
}
.tdptitle{
    font-size: 29.5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sequence:hover{
    color: rgb(126, 115, 115);
}
.sequence:active{
    color:white;
}
.sequence {
    margin-top: -40px;
	font-weight: 600;
	font-size: 24px;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lists {
    margin-top: -40px;
	font-weight: 600;
	font-size: 21px;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
    margin-top: -40px;
	font-weight: 500;
	color: rgb(240, 240, 240);
}
.info:hover{
    color: rgb(126, 115, 115);
}
.info:active{
    color:white;
}
.name{
    color: rgb(211, 205, 205);;
}
.name:hover{
    color: rgb(138, 129, 129);
}
.name:active{
    color:rgb(255, 255, 255);
}
.card .head img {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	object-fit: cover;
}
.indicator {
	display: flex;
	flex-direction: column;
	grid-gap: 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 28px;
	justify-content: center;
}
.indicator a {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	transition: all .3s ease;
	opacity: .5;
}
.indicator a:hover {
	opacity: 1;
}
.indicator a.active {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgb(255, 255, 255);
	opacity: 1;
}
.sectiontitle{
    font-family: 'beckan';
    color: white;
    font-size:150px;
}
.sectiontext{
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -60px;
}
.wave {
    float: left;
    margin: 20px;
    margin-left:18%;
    animation: wave  ease-in-out 0.5s infinite alternate;
    transform-origin: center -36px;
  }
  
  .wave:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .wave img {
    border: 5px solid #f8f8f8;
    display: block;
    width: 300px;
    height: 400px;
  }
  
  .wave figcaption {
    text-align: center;
  }
  
  .wave:after{
    content: '';
    position: absolute;
    width: 20px; 
    height: 20px;
    border: 1.5px solid #ffffff;
    top: -10px; 
    left: 50%;
    border-bottom: none;
    border-right: none;
    transform: rotate(deg);
  }
         
  .wave:before{
    content: '';
    position: absolute;
    top: -23px;
    left: 50%;
    display: block;
    height: 44px;
    width: 47px;
    background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    z-index: 16;
  }
  @keyframes wave {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
  }
  .imgtitle{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
  }
  .roles{
    display: flex;
    clear: both;
    text-align: center;
  }
  .roletitle{
    font-size: 30px;
    color: rgb(180, 176, 176);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .rolename{
    font-size: 18px;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -45px;
  }
  .segment{
    text-align: left;
    width: 100%;
  }
